@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

#chapter-18 > blockquote{
	font-size: smaller;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
}

#chapter-18 > blockquote b{
	font-size: larger;
}
